mixin blockHeader(caption, title, desc)
  .block-header
    h3.block-header-caption= caption 
    h2.block-header-title= title 
    if desc
      p.block-header-desc= desc

mixin blockSlider(desc,name, src)
  .slider-wrapper
    <i class="fas fa-chevron-left slider-prev"></i>
    .slider-list
      +blockSliderItem(desc, name, src)
    <i class="fas fa-chevron-right slider-next"></i>

mixin blockSliderItem(desc, name, src)
  .slider-item
    if src 
      img.slider-icon(src= src) 
    else 
      i.fas.fa-comments.slider-image
    .slider-content 
      p.slider-content-desc= desc
      .slider-content-name
        span
        span= name

mixin blockPhoto(src)
  .work-item
    img.work-photo(src=src)
    .work-overlay 
      img.work-overlay-icon(src="./images/img-work-icon.png") 
      p.work-overlay-title creative designed 
      p.work-overlay-desc Lorem ipsum dolor sit