mixin blockHeader(caption, title, desc)
  .block-header
    h3.block-header-caption= caption 
    h2.block-header-title= title 
    if desc
      p.block-header-desc= desc

mixin blockSlider
  .slider
    <i class="fas fa-chevron-left slider-prev"></i>
    .slider-wrapper
      .slider-list
        +blockSliderItem('"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."', "Jon Doe")
        +blockSliderItem('"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."', "Black Pink")
        +blockSliderItem('"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."', "Lukaku")
    <i class="fas fa-chevron-right slider-next"></i>

mixin blockSliderItem(desc, name, src)
  .slider-item
    if src 
      img.slider-icon(src= src) 
    else 
      i.fas.fa-comments.slider-image
    .slider-content 
      p.slider-content-desc= desc
      .slider-content-name
        span
        span= name

mixin blockPhoto(src)
  .work-item
    img.work-photo(src=src)
    .work-overlay 
      img.work-overlay-icon(src="./images/img-work-icon.png") 
      p.work-overlay-title creative designed 
      p.work-overlay-desc Lorem ipsum dolor sit